<%= form_with(model: collection, local: true) do |form| %>

<div class="field">
  <label class="label">Give your collection a name:</label>
  <div class="control">
    <%= form.text_field :name, class: 'input', autofocus: true, required: true %>
  </div>
</div>

<div class="field">
  <label class="label">And describe it:</label>
  <div class="control">
    <%= form.text_area :description, class: 'textarea' %>
  </div>
</div>

<hr>
<p class="content has-text-centered">
  <%= form.submit t("buttons.#{@collection.new_record? ? 'create' : 'save'}_collection"), class: 'button is-success' %>
</p>
<% end %>