<h1 class="title is-size-5 mb-0 has-text-centered has-background-white-bis pt-4 pb-4 is-box-shadow">
  Edit List
</h1>
<div class="container is-max-width-25em">
  <section class="section">
    <%= render 'form', profile: @profile %>
  </section>
</div>