<section class="section">

  <h1>Profiles</h1>

  <ul>
    <% @profiles.each do |profile| %>
    <li class="content">
      <%= link_to profile, profile %>
      <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-small' %></td>
    </li>
    <% end %>
  </ul>


</section>