<h1 class="title is-size-5 mb-0 has-text-centered has-background-white-bis pt-4 pb-4 is-box-shadow-inset">
  <%= t('headings.your_lists') %>
</h1>
<div class="container is-max-width-30em px-2">
  <% @profiles.each do |profile| %>
  <div class="card mt-4">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to profile, profile %>
      </p>
      <%= link_to edit_profile_url(profile), class: 'card-header-icon' do %>
      <span class="icon">
        <i class="fas fa-edit" aria-hidden="true"></i>
      </span>
      <% end %>
      <%= link_to profile, method: :delete, data: {confirm: t('common.are_you_sure')}, class: 'card-header-icon has-text-danger' do %>
      <span class="icon">
        <i class="far fa-trash-alt" aria-hidden="true"></i>
      </span>
      <% end %>
    </header>
  </div>
  <% end %>
</div>