  <section class="section">
    <div class="container is-max-width-30em  animate__animated animate__slideInUp">
      <h1 class="title">
        Feeds
      </h1>
      <% current = '' %>
      <% @feeds.order(:title).each_with_index do |feed, i| %>
      <% if current != feed.title[0] %>
      <% current = feed.title[0] %>
      <% unless i == 0 %>
    </div>
    <% end %>
    <h1 class="title has-text-grey-light">
      <%= current %>
    </h1>
    <div class="box">
      <% end %>
      <h2 class="subtitle has-icon">
        <span class="icon">
          <i class="fa fa-rss-square"></i>
        </span>
        <span>
          <%= link_to feed, feed %>
        </span>
      </h2>
      <% end %>
    </div>
    </div>
  </section>