<div class="container is-max-width-30em mt-5 animate__animated animate__slideInUp">

  <div class="box">
    <h1 class="title">
      <span class="icon">
        <i class="fa fa-rss-square"></i>
      </span>
      <span>
        <%= @feed.title %>
      </span>
    </h1>
    <p>
      <%= link_to @feed.url, @feed.url, target: '_blank', rel: 'noopener' %>
    </p>
  </div>

  <%= render partial: '/items/items', locals: {items: @items } %>
  <hr class="is-height-1000px">

</div>