$max-widths: 10, 20, 25, 30, 40;

@each $size in $max-widths {
  .is-max-width-#{$size}em {
    max-width: #{$size}em;
  }
}

.on-hover-has-text-link:hover {
  color: $link !important;
}

.is-width-100percent {
  width: 100%;
}

.is-height-100percent {
  height: 100%;
}

.is-position-absolute-right-0 {
  position: absolute;
  right: 0;
}

.is-border-top-darker {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.is-border-bottom-darker {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.is-height-1000px {
  height: 1000px;
}

.is-box-shadow-none {
  box-shadow: none !important;
}

.is-box-shadow {
  box-shadow: $box-shadow !important;
}

.is-border-radius-0 {
  border-radius: 0;
}

.is-margin-0-auto {
  margin: 0 auto;
}

.navbar {
  &.is-transparent {
    background-color: transparent !important;
    .navbar-brand {
      background-color: transparent !important;
    }
  }
}

.is-border-solid-2px-white-ter {
  border: solid 2px $white-ter !important;
}

.is-overflow-x-hidden-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.is-justify-content-center {
  justify-content: center !important;
}

.is-z-index-1 {
  z-index: 1;
}

.is-vertical-align-middle {
  vertical-align: middle !important;
}

.is-text-underline {
  text-decoration: underline;
}

.is-border-top-solid-2px-warning {
  border-top: solid 2px $warning;
}

.is-border-top-solid-2px-primary {
  border-top: solid 2px $primary;
}

.is-position-fixed-top-0 {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-border-bottom-solid-2px-grey-lighter {
  border-bottom: solid 2px $grey-lighter;
}

.has-background-transparent {
  background-color: transparent;
}

.is-box-shadow-inset {
  box-shadow: inset 0 -11px 8px -10px rgba($scheme-invert, 0.1);
}

.is-width-64px {
  width: 64px !important;
}

.is-max-height-96px {
  max-height: 96px !important;
}

.is-max-width-96px {
  max-width: 128px !important;
}

.is-display-block {
  display: block;
}

.is-height-24px {
  height: 56px;
}

.is-width-24px {
  width: 56px;
}
