<blockquote class="mt-1000 has-text-centered is-size-7 has-text-grey mb-1">
  <p>This is the end, beautiful friend<br>
    This is the end, my only friend<br>
    The end<br>
    It hurts to set you free<br></p>
  <footer>
    ~ <cite>
      <a href="https://genius.com/The-doors-the-end-lyrics" target="_blank" rel="noopener" class="has-text-grey">
        The End - The Doors
      </a>
    </cite>
  </footer>
</blockquote>