<nav class="navbar is-fixed-bottom is-warning" role="navigation" aria-label="main navigation" data-turbolinks-animate-persist="true">
  <div class="navbar-brand">
    <%= link_to :root, class: 'navbar-item has-icon' do %>
    <span class="icon">
      <i class="fas fa-rss-square"></i>
    </span>
    <span class="is-hidden-mobile">
      Newsfeed
    </span>
    <%- end -%>


    <% if @items %>
    <%= render partial: 'profiles' %>
    <%= render partial: 'time_ranges' %>
    <% end %>

    <%= render partial: '/shared/user' %>
  </div>
</nav>