<div class="dropdown is-hoverable navbar-item is-up">
  <div class="dropdown-trigger">
    <button class="button has-icon is-outlined is-dark is-small" aria-haspopup="true" aria-controls="dropdown-profiles">
      <span class="icon">
        <i class="fas fa-list"></i>
      </span>
      <span class="is-hidden-mobile">
        <%= @profile ? @profile : t('common.world_news') %>
      </span>
      <span class="icon is-small">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu is-width-100percent" id="dropdown-profiles" role="menu">
    <div class="dropdown-content">
      <% if user_signed_in? %>
      <% current_user.profiles.each do |profile| %>
      <%= link_to profile, profile_items_url(profile.id), class: 'dropdown-item' %>
      <% end %>
      <hr class="dropdown-divider">
      <% end %>
      <% if @profile %>
      <%= link_to t('common.edit_profile'), @profile, class: 'dropdown-item' %>
      <% end %>
      <%= link_to t('common.new_profile'), new_profile_url, class: 'dropdown-item' %>
    </div>
  </div>
</div>