<div class="container is-max-width-30em mt-5 animate__animated animate__slideInUp">
  <%= render partial: '/items/items', locals: {items: @items }%>

  <hr class="is-height-1000px">
  <p class="has-text-centered is-size-7 has-text-grey mb-1">
    This is the end, beautiful friend<br>
    This is the end, my only friend<br>
    The end<br>
    It hurts to set you free<br>
  </p>
</div>