<% unless user_signed_in? %>
<section class="section pt-4 pb-4 px-4 is-size-5 has-background-white-bis is-box-shadow-inset">
  <div class="container is-max-width-20em content has-text-centered">
    <p>
      Welcome to Newsfeed, a Really Simple Newsreader for RSS. Catch up on World News or go ahead and <%= link_to 'personalise it', :new_user_registration, class: 'is-text-underline' %>.
    </p>
  </div>
</section>
<% end %>
<section class="section pt-2 px-2">
  <div class="container is-max-width-30em mt-2 animate__animated animate__slideInUp">
    <%= render partial: '/items/items', locals: {items: @items }%>
    <%= render partial: '/shared/bottom_buffer' %>
  </div>
</section>