<section class="section pt-2 px-2">
  <div class="container is-max-width-30em mt-2 animate__animated animate__slideInUp">
    <div class="has-text-centered content has-text-grey-light is-size-7 mb-1">
      <%= "#{time_ago_in_words(@item.published_at)} ago" %>
    </div>
    <%= render partial: '/items/item', locals: {item: @item }%>
  </div>
</section>