<div class="has-text-centered has-background-white-bis is-box-shadow-inset mb-0">
  <div class="container is-max-width-30em">
    <%= link_to :root, data: {controller: 'history', action: 'click->history#back'}, class: 'is-pulled-left has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-chevron-left"></i>
    </span>
    <% end %>
    <div class="is-pulled-right is-height-24px is-width-24px"></div>
    <h1 class="title is-size-5 pb-4 pt-4 is-display-block">
      <%= t('headings.about_newsfeed') %>
    </h1>
  </div>
</div>
<div class="container is-max-width-30em">
  <section class="section pt-4 content">
    <p>
      Newsfeed is a Really Simple Newsreader for RSS (and ATOM and all that).
    </p>
    <figure class="image mb-4">
      <%= image_tag 'about.png', alt: 'Screenshots of Newsfeed' %>
    </figure>
    <p>
      After years on social media, Feedly, and other excellent but complicated news aggregators a return to flowing over news and not worrying too much is needed.
    </p>
    <ul>
      <li>Readable, scannable, ignorable</li>
      <li>Simple organisation</li>
      <li>Recallable</li>
      <li>Reverse chronological with transparent cleanup</li>
      <Li>Fast, because it's simple</li>
      <li>Dozens, not hundreds, of feeds</li>
      <li>Only rough timestamps</li>
      <li>No unread counts</li>
      <li>Not real time</li>
      <li>Must have orange</li>
    </ul>
    <p>
      Built for and by <a href="https://paulmwatson.com">Paul Watson</a> but if you like it then great, <%= link_to 'sign up', :new_user_registration %>.
    </p>
  </section>
</div>