/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$primary: hsl(36, 100%, 50%);
$primary-dark: hsl(36, 100%, 20%);
$warning-dark: hsl(48, 100%, 47%);
$hr-background-color: hsl(0, 0%, 86%);
$navbar-height: 4rem;

@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/helpers/color';
@import 'bulma/sass/helpers/float';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/helpers/visibility';
@import 'bulma/sass/elements/box';
@import 'bulma/sass/elements/tag';
@import 'bulma/sass/elements/container';
@import 'bulma/sass/elements/image';
@import 'bulma/sass/elements/content';
@import 'bulma/sass/elements/icon';
@import 'bulma/sass/elements/notification';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/elements/table';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/card';
@import 'bulma/sass/components/level';
@import 'bulma/sass/components/dropdown';
@import 'bulma/sass/layout/section';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/elements/title';
@import 'bulma/sass/helpers/typography';
@import 'bulma/sass/helpers/spacing';

@import 'bulma/toast';
@import 'bulma/addons';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'animate.css/animate';

@import 'main';
@import 'items';
